div {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: relative;
    -webkit-animation-name: good; 
    -webkit-animation-duration: 60s; 
    -webkit-animation-delay: 1s; 
    animation-name: good;
    animation-duration: 60s;
    align-content: center;
    
}


@-webkit-keyframes good{
    0%   {background-color:yellow; left:0px; top:0px;}
   8%  {background-color:blue; left:100px; top:0px;
    border-radius: 80px}
   10%  {background-color:yellow; left:100px; top:0px;
    border-radius: 80px}
    20%  {background-color:blue; left:300px; top:0px;
    }
    31%  {background-color:blue; left:300px; top:600px;
    border-radius: 80px  border-radius: 80px width: 100px;
    height: 100px;} 
 
    55% {background-color:orange; margin-left:0px; margin-top:0px; margin-bottom:0px; width:400px; height:600px;
    }

    65% {background-color:green; margin-left:0px; margin-top:0px; margin-bottom:0px; width:1280px; height:600px;
    }

    77% {background-color:#fff; margin-left:0px; margin-top:0px; margin-bottom:0px; width:1280px; height:600px;
    }

    100% {background-color:#fff; left:0px; top:0px;}
}
    
   
}


